*.d
*.o
*.log
*~
.DS_Store
xlr/cscope.files
xlr/cscope.out
xlr/*-module.cpp
xlr/*-module.h
xlr/obj/**/Makefile.depend
xlr/obj/**/created
xlr/p.xl
xlr/tests/builtins.xl
xlr/tests/bytecode.stylesheet
xlr/tests/comments.stylesheet
xlr/tests/dbghtml.stylesheet
xlr/tests/debug.stylesheet
xlr/tests/expected.out
xlr/tests/failure.out
xlr/tests/html.stylesheet
xlr/tests/opt-builtins.xl
xlr/tests/short.stylesheet
xlr/tests/success.out
xlr/tests/xl
xlr/tests/xl.stylesheet
xlr/tests/xl.syntax
xlr/tests/**/*.ref.old
xlr/tests/**/expected-*.out
xlr/tests/**/failure-*.out
xlr/tests/**/success-*.out
xlr/xlr
xlr/[a-z].xl

