*.d
*.o
*.log
*~
.DS_Store
src/cscope.files
src/cscope.out
src/*_module.cpp
src/*_module.h
.objects
.logs
tests/builtins.xl
tests/bytecode.stylesheet
tests/comments.stylesheet
tests/dbghtml.stylesheet
tests/debug.stylesheet
tests/expected.out
tests/failure.out
tests/html.stylesheet
tests/opt-builtins.xl
tests/short.stylesheet
tests/success.out
tests/xl
tests/*.stylesheet
tests/*.syntax
tests/**/*.ref.old
tests/**/expected-*.out
tests/**/failure-*.out
tests/**/success-*.out
tests/**/*.xl.mk
tests/**/*.diff
tests/**/*.output
tests/**/*.result
**.dylib
src/[a-z].xl
src/[a-z].xl
src/config.h
xl2/*/TESTS/**/*.c
src/make-it-quick/
xl2/bootstrap/xl.syntax
xl2/bootstrap/xl_lib.h
xl2/bxl
xl2/cxl
xl2/native/TESTS/failure.out
xl2/native/TESTS/library
xl2/native/TESTS/nrxl
xl2/native/TESTS/nsxl
xl2/native/TESTS/nxl
xl2/native/TESTS/success.out
xl2/native/TESTS/xl2
xl2/native/c.xl
xl2/native/xl.syntax
xl2/native/xl_lib.h
xl2/nrxl
xl2/nsxl
xl2/nxl
xl2/rxl
xl2/sxl
xl2/xl2c
xl2/www/*.html
