*.d
*.o
*.log
*~
.DS_Store
src/cscope.files
src/cscope.out
src/*_module.cpp
src/*_module.h
src/recorder.h
src/recorder.cpp
src/ring.h
src/obj/**/Makefile.depend
src/obj/**/created
tests/builtins.xl
tests/bytecode.stylesheet
tests/comments.stylesheet
tests/dbghtml.stylesheet
tests/debug.stylesheet
tests/expected.out
tests/failure.out
tests/html.stylesheet
tests/opt-builtins.xl
tests/short.stylesheet
tests/success.out
tests/xl
tests/xl.stylesheet
tests/xl.syntax
tests/**/*.ref.old
tests/**/expected-*.out
tests/**/failure-*.out
tests/**/success-*.out
src/[a-z].xl
src/[a-z].xl
