{@xl}, an extensible programming language, implements
<a href="http://xlr.sourceforge.net/Concept%20Programming%20Presentation.pdf">
concept programming</a>
<br>
If you want to know more, you should start {concept "toplevel" "here"}.

{dayTemplate}
</td>
<td valign="top">
{calendar}
