{@xl}, an extensible programming language, implements the ideas of {@cp}.
<br>
If you want to know more, you should start {concept "toplevel" "here"}.

{dayTemplate}
</td>
<td valign="top">
{calendar}
