<table width="99%" cellspacing="0" border="0">
<tr>
<td bgcolor="black">
<font size="+1" color="#f8f0ff">
<b>{title}</b>
</font>
</td>
<td bgcolor="black" align="right" valign="middle">
{dailyLink}
</td>
</tr>
</table>
<b>{storyDate}</b><p>
{storyContent}
<p>
