<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<TITLE>{siteName} - {title}</TITLE>
</HEAD>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="keywords" CONTENT="Mozart XL Moka concept programming free open source">
<META NAME="description" CONTENT="XLR: an extensible programming language and runtime">


<BODY BACKGROUND="xroma-dim.png"
	  BGCOLOR="#FFFFFF" TEXT="#000000"
      LINK="#004080" VLINK="#008040" ALINK="#FFFF00">

<TABLE width="100%" border=0 cellspacing=0 cellpadding=2 bgcolor="737b9c">
  <TR>
    <TD><SPAN class=maintitlebar>&nbsp;&nbsp;
      <A class=maintitlebar href="http://sourceforge.net/"><B>Home</B></A> | 
      <A class=maintitlebar href="http://sourceforge.net/about.php"><B>About</B></A> | 
      <A class=maintitlebar href="http://sourceforge.net/partners.php"><B>Partners</B></a> |
      <A class=maintitlebar href="http://sourceforge.net/contact.php"><B>Contact Us</B></A></SPAN></TD>
  </TR>
</TABLE>
<!-- end top strip -->

<!-- top title table -->
<TABLE width="100%" border=0 cellspacing=0 cellpadding=0>
  <TR valign="top" bgcolor="#eeeef8">
    <TD>
<A href="http://sourceforge.net"> <IMG src="http://sourceforge.net/sflogo.php?group_id=4124&type=5" width="210" height="62" border="0" alt="SourceForge Logo"></A>
    </TD>
  </TR>
  <TR><TD bgcolor="#543a48" colspan=2><IMG src="http://sourceforge.net/images/blank.gif" height=2 vspace=0></TD></TR>
</TABLE>
<!-- end top title table -->

<TABLE width="100%" border="0" cellspacing="0" cellpadding="5">

<TR valign="top">
<TD width="180" bgcolor="#abbdf8">
{include (concat (weblog-macro-blogToplevel) "side-links.inc")}
</TD>

<TD width="10" bgcolor="#cbcdd8">
</TD>
<TD>

<!-- Actual contents -->
<H2 ALIGN="right"><I><FONT COLOR="#0000FF"><A href="{blogToplevel}index.html">{siteName}</A></FONT></I></H1>
<H3 ALIGN="right"><I><FONT COLOR="#0000FF">{byline}</FONT></I></H2>

<TABLE border="0" cellspacing="25" cellpadding="5">
<TR><TD>
{contentTemplate}
</TD></TR>
</TABLE>


<HR>
<P ALIGN=RIGHT>
Copyright {year} <A HREF="mailto:christophe(this is an at sign)dinechin.org">Christophe de Dinechin</A> (<A href="http://grenouille-bouillie.blogspot.com">Blog</A>)<BR>
E-mail: <A href="mailto:mozart-dev-lx-lang(this is another at sign)lists.sourceforge.net">XL Mailing List (polluted by spam, unfortunately)</A>
</TD>
</TABLE>

</BODY>
</HTML>
