<table width="99%">
<tr>
<td bgcolor="black">
<font size="+1" color="#f8f0ff">
<b>{title}</b>
</font>
</td>
</tr>
</table>
<table width="99%" bgcolor="#C0FFCF">
<tr>
<td width="33%"><p align=left>{previous}</p></td>
<td width="33%"><p align=center>{up}</p></td>
<td width="33%"><p align=right>{next}</p></td>
</tr>
</table>
{storyContent}
<table width="99%" bgcolor="#C0FFCF">
<tr>
<td width="33%"><p align=left>{previous}</p></td>
<td width="33%"><p align=center>{up}</p></td>
<td width="33%"><p align=right>{next}</p></td>
</tr>
</table>
